<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration Hub</title>
    <link rel="stylesheet" href="../../assets/css/profile.css">
    <link rel="stylesheet" href="../../assets/css/member.css">
    <link rel="stylesheet" href="../../assets/css/post.css">
</head>
<body>
    <header>
        <div class="title">Zero Waste Living</div>
        <div class="user-controls">
            <div class="profile-icon">
                <div class="profileImage">
                    <img id="profileIconImage" alt="Profile Picture">
                </div>
            </div>
            
            <div class="hamburger-icon" onclick="toggleHamburgerMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="hamburgerMenu" class="hamburger-menu">
                <a href="../member/homepageMember.html">Home</a>
                <a href="../member/profileMember.html">Profile</a>
                <a href="../login.html">Log out</a>
            </div>
        </div>
    </header>
    <main>
        <div class="profile">
            <div class="profile-header">
                <div class="profile-image">
                    <img id="profileHeaderImage" alt="Profile Picture">
                </div>
                <div class="profile-info">
                    <h2 id="name"></h2>
                    <p id="email"></p>
                    <a href="../member/editProfile.html" class="edit-profile-button">Edit profile</a>
                </div>
            </div>
        </div>
        
        </div>
        <div class="posts">
            <h3>Your Sharings</h3>
            <div class="post-grid" id="postGrid">
                <!-- Placeholder for dynamically fetched sharings -->
            </div>
        </div>
    </main>
    <script>
        function toggleHamburgerMenu() {
            const menu = document.getElementById('hamburgerMenu');
            menu.classList.toggle('show');
        }
    </script>
    <script src="../../assets/js/profile.js"></script>
</body>
</html>
